{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "php:\/\/stderr",
        "stryker": {
            "report": "master"
        }
    },
    "mutators": {
        "@default": true,
        "ReturnRemoval": {
            "ignoreSourceCodeByRegex": [
                "return \\$array->\\{\\$key\\};"
            ]
        },
        "TrueValue": {
            "ignoreSourceCodeByRegex": [
                "\\$notStaticProperties\\[\\$class\\]\\[\\$key\\] = true;"
            ]
        }
    }
}
