{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "php:\/\/stderr",
        "stryker": {
            "report": "master"
        }
    },
    "mutators": {
        "@default": true,
        "PublicVisibility": {
            "ignore": [
                "Yiisoft\\Arrays\\ArrayAccessTrait::getIterator",
                "Yiisoft\\Arrays\\ArrayAccessTrait::count",
                "Yiisoft\\Arrays\\ArrayAccessTrait::offsetExists",
                "Yiisoft\\Arrays\\ArrayAccessTrait::offsetGet",
                "Yiisoft\\Arrays\\ArrayAccessTrait::offsetSet",
                "Yiisoft\\Arrays\\ArrayAccessTrait::offsetUnset",
                "Yiisoft\\Arrays\\ArrayableTrait::fields",
                "Yiisoft\\Arrays\\ArrayableTrait::extraFields",
                "Yiisoft\\Arrays\\ArrayableTrait::toArray"
            ]
        }
    }
}
